.edit-form {
  background-color: var(--secondary-color);
}

.edit-form__field {
  border-bottom: 1px solid #adadad;
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 6);
}

.edit-form__field input,
.edit-form__field textarea,
.edit-form__field select,
.edit-form__header-input {
  width: 100%;
  font-size: var(--font-size-md);
  color: #939393;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.edit-form__field textarea {
  resize: none;
}

.edit-form__header {
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 6);
}

.edit-form__brand-input {
  font-size: var(--font-size-lg);
}

.edit-form__price-input {
  font-size: var(--font-size-xl);
}
