#details-page {
    min-height: calc(100vh - 84px - 79.33px);
    display: flex;
}

.image-slider-section {
    width: 60%;
    min-height: 95vh;
    background-color: #f5f7fb;
}

.image-slider-details {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.edit-and-delete {
    margin-top: 10px;
}

.edit-and-delete button {
    font-size: 22px;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: none;
    margin-right: 30px;
    height: 56px;
    width: 143px;
}

.edit-and-delete button:first-child {
    background-color: green;
}

.edit-and-delete button:last-child {
    background-color: #e63946;
}


.brand-slider {
    margin-left: 50px;
}

.brand-slider span {
    font-size: 35px;
    font-weight: 700;
}

.price-slider {
    margin-top: 10px;
    margin-left: 50px;
}

.price-slider span {
    font-size: 21px;
    font-weight: 700;
    color: #3a86ff;
}


.car-details-section {
    min-height: 95vh;
    padding-bottom: 50px;
    width: 40%;
}