:root {
  --primary-color: #3a86ff;
  --secondary-color: #f3f4f6;
  --error-color: #dc2626;
  --success-color: #16a34a;
  --warning-color: #f59e0b;
  --black-color: #24252a;
  --white-color: #fff;

  --border-color: #e5e7eb;
  --border-color-error: var(--error-color);
  --border-color-active: #ffffff;

  --box-shadow-color: rgba(0, 0, 0, 0.1);

  --spacing: 4px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 36px;
  --font-size-4xl: 48px;
  --font-size-5xl: 60px;

  --letter-spacing-1: 0em;
  --letter-spacing-2: -0.0025em;
  --letter-spacing-3: -0.005em;
  --letter-spacing-4: -0.00625em;
  --letter-spacing-5: -0.0075em;
  --letter-spacing-6: -0.01em;
  --letter-spacing-7: -0.025em;

  --line-height-1: 20px;
  --line-height-2: 24px;
  --line-height-3: 26px;
  --line-height-4: 28px;
  --line-height-5: 30px;
  --line-height-6: 36px;
  --line-height-7: 40px;
  --line-height-8: 60px;

  --breakpoint-sm: 520px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1640px;
}
