.not-found-page {
  min-height: 100vh;
  background-color: var(--black-color);
}

.not-found-page__error-code {
  opacity: 0.5;
}

.not-found-page__message {
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .not-found-page__error-code {
    font-size: var(--font-size-5xl);
  }

  .not-found-page__message {
    font-size: var(--font-size-2xl);
  }
}
