.sell-page {
  min-height: 100vh;
}

.sell-page__image-section {
  width: 60%;
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 12);
}

.sell-page__content-section {
  width: 40%;
  background-color: var(--secondary-color);
  padding-top: calc(var(--spacing) * 8);
}

@media (max-width: 1280px) {
  .sell-page {
    flex-direction: column-reverse;
  }

  .sell-page__image-section {
    width: 100%;
    height: 90vh;
  }

  .sell-page__content-section {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .sell-page__image-section {
    height: 80vh;
  }
}

@media (max-width: 520px) {
  .sell-page__image-section {
    height: 60vh;
  }
}
