.navigation__header {
  position: relative;
  background-color: var(--black-color);
}

.navigation__header .navigation__link {
  text-decoration: none;
}

.navigation {
  margin: 0 auto;
  max-width: 1640px;
  font-size: var(--font-size-lg);
  letter-spacing: var(--letter-spacing-3);
  line-height: var(--line-height-4);
}

.navigation__list {
  list-style: none;
}

.navigation__link {
  color: var(--secondary-color);
  transition: color 0.3s ease;
}

.navigation__link:hover {
  color: var(--primary-color);
}

.navigation__register {
  color: var(--black-color);
  background-color: var(--primary-color);
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 5);
  box-shadow: 0 0 4px 0 var(--primary-color);
  transition:
    color 0.3s ease,
    box-shadow 0.3s ease;
}

.navigation__register:hover {
  color: var(--secondary-color);
  box-shadow: 0 0 14px 0 var(--primary-color);
}

@media (max-width: 1280px) {
  .navigation {
    font-size: var(--font-size-base);
    letter-spacing: var(--letter-spacing-1);
    line-height: var(--line-height-2);
  }
}

@media (max-width: 1024px) {
  .navigation__list,
  .navigation__login-register {
    display: none;
  }
}
