#hero {
    height: 89vh;
    background-image: url("../../../public/assets/wave-haikei.svg");
    background-size: cover;
    background-position: bottom -100px right 0;
    background-repeat: no-repeat;
    background-color: #24252A;
}

#home-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 63vh;
    background-color: #3a86ff;
}

.home-h2 {
    height: 180px;
    font-size: 35px;
}

#home-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("../../../public/assets/wave-haikei6.svg");
    background-size: cover;
}

.home3-h2 {
    margin-top: 350px;
    margin-bottom: 50px;
    font-size: 25px;
}

#home-4 {
    background-color: #f8f8f8;
    height: 70vh;
}

.home4-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.home4-h2 h2 {
    font-size: 35px;
}