.rental-cars {
    display: flex;
}

.rental-cars-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

.rental-cars-buttons button {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
    padding: 15px 45px;
    background-color: #e9e9e9;
    border: none;
}

.rental-cars-buttons button:hover {
    background-color: #3a86ff;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.rental-cars-buttons button:focus {
    background-color: #3a86ff;
}

.rental-cars-images-details {
    display: flex;
}

.rental-car-image img {
    width: 500px;
    height: 375px;
    background-size: cover;
}

.rental-car-details {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}

.rental-car-price {
    padding: 15px 45px;
    font-size: 23px;
    font-weight: 700;
    background-color: #3a86ff;
}

.rental-car-manufacturer-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    padding: 10px 5px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.rental-car-manufacturer-col span:first-child {
    border-right: 2px solid black;
}

.rental-car-details button {
    font-size: 23px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px 45px;
    border: none;
    background-color: #3a86ff;
    color: black;
}

.rental-car-details button:hover {
    background-color: #3a86ff;
    color: white;
    box-shadow: 0 0 7px 0 rgba(58, 134, 255);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}