.reasons {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reason {
    padding: 10px 100px;
    text-align: center;
}

.reason img {
    width: 120px;
    height: 120px;
}

.reason h3 {
    font-size: 30px;
    text-align: center;
}