.my-profile-car-card {
  width: 100%;
  transition: transform 0.3s ease;
}

.my-profile-car-card:hover {
  transform: translateY(-2px);
}

.my-profile-car-card__image {
  width: 100%;
  height: 270px;
  object-fit: contain;
}
