#rent-car-page {
    /* height: 100%; */
    min-height: calc(100vh - 84px - 79.33px);
    background-color: #f5f7fb;
}


.search-rental-cars-wrapper {
    display: flex;
    justify-content: center;
}

.search {
    background-color: white;
    width: 210px;
    padding: 30px 30px;
    height: 450px;
    margin-right: 50px;
    margin-top: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.search form label {
    font-size: 18px;
    margin-bottom: 10px;
}

.search form select {
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccd7e6;
    padding: 8px 8px;
}

.search form label i {
    color: #3a86ff
}

.form-button {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 40px;
    text-align: center;
    background-color: #3a86ff;
    color: white;
    border: none;
    text-decoration: none;
}

.form-button:hover {
    cursor: pointer;
}

.cars {
    align-items: center;
    display: grid;
    gap: 40px 20px;
    grid-template-columns: 0fr 0fr 0fr;
    grid-template-rows: auto;
    padding: 20px 0;
    text-align: center;
}