.car {
    height: 540px;
    width: 330px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white
}

.car:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.car-image img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0rem 1rem;
}

.car h2 span {
    margin-bottom: 18px;
    font-size: 30px;
    text-decoration: none;
    color: #3a86ff;
}

.car-specs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.75rem;
}

.car-listing-price {
    font-size: 25px;
    font-weight: 700;
}

.car button {
    font-size: 23px;
    font-weight: 700;
    height: 64.50px;
    padding: 0px 75px;
    background-color: #3a86ff;
    color: black;
    border: none;
}

.car button:hover {
    background-color: #3a86ff;
    color: white;
    box-shadow: 0 0 7px 0 rgba(58, 134, 255);
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.car button a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}