.search {
    background-color: white;
    width: 210px;
    padding: 30px 30px;
    height: 560px;
    margin-right: 50px;
    margin-top: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.search form label {
    font-size: 18px;
    margin-bottom: 10px;
}

.search form select {
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccd7e6;
    padding: 8px 8px;
}

.search form label i {
    color: #3a86ff
}

.form-button {
    font-size: 20px;
    font-weight: 700;
    padding: 15px 40px;
    text-align: center;
    background-color: #3a86ff;
    color: white;
    border: none;
    text-decoration: none;
}

.form-button:hover {
    cursor: pointer;
}