.login-page {
  height: 100vh;
}

.login-page__image-section {
  position: relative;
  width: 50%;
}

.login-page__background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-page__cta {
  position: relative;
}

.login-page__content-section {
  width: 50%;
  background-color: var(--secondary-color);
}

.login-page__logo {
  height: 100px;
  width: 300px;
}

.login-page__form-wrapper {
  height: 500px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 0 20px var(--box-shadow-color);
  background-color: var(--white-color);
}

.login-page__mobile-link {
  display: none;
}

.login-page__form {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.login-page__input {
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 8);
  border-radius: 20px;
  font-size: var(--font-size-md);
  border-width: 1px;
}

.login-page__input:focus {
  outline: none;
}

.login-page__cta-heading {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

@media (max-width: 1024px) {
  .login-page__image-section {
    display: none;
  }

  .login-page__content-section {
    width: 100%;
  }

  .login-page__mobile-link {
    display: block;
  }
}

@media (max-width: 520px) {
  .login-page__form-wrapper {
    height: 360px;
    width: 360px;
  }

  .login-page__input {
    padding: calc(var(--spacing) * 3) calc(var(--spacing) * 6);
  }
}
