.catalog-form {
  background-color: var(--secondary-color);
  box-shadow: 0 0 20px var(--box-shadow-color);
  margin-top: calc(var(--spacing) * 12);
  padding: calc(var(--spacing) * 5);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--spacing) * 4);
}

.catalog-form i {
  color: var(--primary-color);
}

.catalog-form__field {
  border: 1px solid var(--border-color);
  padding: calc(var(--spacing) * 2);
}

.catalog-form__submit-button {
  grid-column: span 2;
}

@media (max-width: 1280px) {
  .catalog-form {
    width: 100%;
  }
}
