.search-form {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  max-height: 640px;
  width: 380px;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem 1rem;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.search-form label {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.search-form label i {
  color: #3a86ff
}

.search-form select,
.search-form input {
  font-size: 16px;
  border: 1px solid #ccd7e6;
  padding: 8px 8px;
  margin-bottom: 1rem;
  width: 100%;
}

.search-form input {
  padding: 7px 7px;
}

.search-form button {
  grid-column: span 2;
  background-color: #3a86ff;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  font-size: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 1215px) {
  .search-form label {
    font-size: 16px;
  }

  .search-form select,
  .search-form input {
    font-size: 14px;

  }
}

@media (max-width: 1060px) {
  .search-form {
    width: 100%;
  }
}