.image-slider {
  position: relative;
  margin-top: calc(var(--spacing) * 5);
  height: 80%;
  border-radius: 4px;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4);
}

.image-slider__images {
  width: 100%;
  height: 100%;
}

.image-slider__active-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-slider__back-btn,
.image-slider__next-btn {
  position: absolute;
  cursor: pointer;
  color: black;
  font-size: var(--font-size-xl);
  top: 50%;
}

.image-slider__back-btn {
  margin-left: calc(var(--spacing) * 3);
}

.image-slider__next-btn {
  margin-right: calc(var(--spacing) * 3);
  right: 0;
}

.image-slider__thumbnails {
  position: absolute;
  bottom: 4px;
  width: 100%;
  height: 40px;
}

.image-slider__thumbnail-image {
  height: 100%;
  width: 60px;
  cursor: pointer;
  border: 2px solid transparent;
  object-fit: cover;
}

.image-slider__thumbnail-image--active {
  border: 2px solid var(--border-color-active);
}

.image-slider__thumbnail-container {
  position: relative;
}

.image-slider__delete-btn {
  position: absolute;
  top: -8px;
  right: -4px;
  padding: 1px 6px;
  border-radius: 40%;
  background-color: var(--error-color);
  color: var(--secondary-color);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: all 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.image-slider__thumbnail-container:hover .image-slider__delete-btn {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1280px) {
  .image-slider {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .image-slider__delete-btn {
    opacity: 1;
  }
}

@media (max-width: 520px) {
  .image-slider {
    height: 70%;
  }

  .image-slider__thumbnails {
    height: 30px;
  }

  .image-slider__thumbnail-image {
    width: 50px;
  }
}
