#my-profile {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 84px - 79.33px);
    background-color: #24252A;
    border-top: 1px solid #545454;
    border-bottom: 1px solid #545454;
    color: white;
}

.my-profile-content {
    margin-top: 30px;
    width: 940px;
    min-height: 960px;
}

.my-profile-details {
    display: flex;
    border-bottom: 1px solid #545454;
}

.my-profile-info {
    width: 60%;
}

.username {
    display: flex;
    justify-content: flex-start;
}

.car-posts-count {
    display: flex;
    justify-content: flex-start;
}

.car-posts-count span:last-child {
    margin-left: 30px;
}

.my-profile-image {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40%;
    margin-bottom: 40px;
}

.my-profile-image img {
    object-fit: contain;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.change-photo-button {
    position: absolute;
    top: 5px;
    right: 110px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #555555;
    font-size: 40px;
}

.change-photo-button:hover {
    cursor: pointer;
    background-color: #6f6f6f;
    transition: all 300ms ease-in-out;
}

.change-photo-button i {
    font-size: 20px;
    color: #FFFFF7;
}


.car-types {
    display: flex;
    justify-content: center;
    height: 50px;
}

.car-types button {
    background-color: #24252A;
    color: white;
    border: none;
}

.car-types button:last-child {
    margin-left: 20px;
}

.car-types button:focus {
    border-top: 1px solid white;
}

.cars {
    align-items: center;
    display: grid;
    gap: 40px 20px;
    grid-template-columns: 0fr 0fr 0fr;
    grid-template-rows: auto;
    padding: 20px 0;
    text-align: center;
}

.car {
    width: 300px;
    height: 300px;
}

.car-image {
    width: 100%;
    height: 90%;
}

.car-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.car-model {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    font-size: 20px;
}