#edit-page {
    min-height: calc(100vh - 118px - 53px);
    display: flex;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-slider-section {
    width: 60%;
    background-color: #f5f7fb;
    padding: 1.25rem 3rem;
}

.image-slider-section button {
    font-size: 22px;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: none;
    height: 56px;
    width: 143px;
    background-color: green;
}

.car-details-section {
    width: 40%;
}

.car-details-section h1 {
    text-align: center;
    margin-bottom: 0;
}

@media (max-width: 1240px) {
    #edit-page {
        flex-direction: column-reverse;
    }

    .image-slider-section {
        width: 100%;
        height: 90vh;
    }

    .car-details-section {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .image-slider-section {
        height: 80vh;
    }
}

@media (max-width: 500px) {
    .image-slider-section {
        height: 60vh;
    }
}