#edit-page {
    min-height: calc(100vh - 84px - 79.33px);
    display: flex;
}

.image-slider-section {
    width: 70%;
    min-height: 95vh;
    background-color: #f5f7fb;
}

.image-slider-section button {
    font-size: 22px;
    font-weight: 700;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 30px;
    margin-left: 30px;
    height: 56px;
    width: 143px;
    background-color: green;
}

.image-slider {
    position: absolute;
    margin-left: 40px;
    margin-top: 30px;
    width: 60%;
    height: 80%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4);
}

.image-slider .images {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.image-slider .images img.active {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transform: scale(1);
}

.image-slider .back-btn,
.image-slider .next-btn {
    position: absolute;
    top: 0px;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    transition: all 300ms ease-in-out;
}

.image-slider .next-btn {
    right: 0px;
}

.image-slider .thumbnails {
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image-slider .thumbnails img {
    height: 40px;
    width: 60px;
    cursor: pointer;
    border: 2px solid transparent;
}

.image-slider .thumbnails img.active {
    border: 2px solid white;
}

.thumbnail-container {
    position: relative;
}

.delete-btn {
    position: absolute;
    top: -8px;
    right: -5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    background-color: #ff5a5a;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.thumbnail-container:hover .delete-btn {
    opacity: 1;
    pointer-events: auto;
}



.car-details-section {
    min-height: 110vh;
    width: 40%;
}

.car-details-section h1 {
    text-align: center;
    margin-bottom: 0;
}

.car-details-section form {
    height: 92%;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.details input,
.brand input,
.price input,
.details-description textarea,
.details select {
    font-size: 16px;
    color: #939393;
    background: transparent;
    border: none;
    cursor: pointer;
}

.details:focus,
.brand input,
.price input,
.details option {
    color: black;
}

.details {
    min-height: 9%;
    border-bottom: 1px solid #adadad;
}


.details-description {
    min-height: 15%;
    border-bottom: 1px solid #adadad;
}

.name {
    width: 100%;
    min-height: 30px;
    padding: 20px 30px 0px 30px;
}

.name label {
    font-size: 17px;
    font-weight: 700;
}


.details-content-description {
    height: 90px;
    padding: 10px 30px;
}

.details-content {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 0px 30px;
}

.price-car-brand {
    min-height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 700;
}

.brand input {
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin-left: 30px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price input {
    width: 50%;
    color: black;
    font-size: 21px;
    font-weight: 700;
}