.car-details {
  width: 40%;
  background-color: var(--secondary-color);
}

.car-details__item {
  border-bottom: 1px solid #adadad;
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 6);
}

.car-details__item p {
  color: var(--black-color);
  font-size: var(--font-size-md);
}

.car-details__header {
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 6);
}

.car-details__price {
  background-color: var(--primary-color);
  box-shadow: 0 0 20px var(--box-shadow-color);
  padding: calc(var(--spacing) * 4) calc(var(--spacing) * 10);
}

@media (max-width: 1240px) {
  .car-details {
    width: 100%;
  }
}
