.car-details-section {
  width: 40%;
  background-color: #ffff;
}

.details {
  border-bottom: 1px solid #adadad;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem 1.5rem;
}

.details span:first-child {
  font-size: 17px;
  font-weight: 700;
}

.details span:last-child,
.details p {
  color: #939393;
}

.price-car-brand {
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-car-brand h2 {
  font-size: 22px;
  font-weight: 700;
}

.price-car-brand h3 {
  background-color: #3a86ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
  font-size: 21px;
  font-weight: 700;
  color: white;
}

@media (max-width: 1240px) {
  .car-details-section {
    width: 100%;
  }
}