#car-listings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: #3a86ff;
}

#car-listings h2 {
  font-size: 2.75rem;
}

.latest-listings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0rem 3rem;
  gap: 50px;
}

.latest-car-listing {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: white
}

.latest-car-listing:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.car-listing-image {
  height: 45%;
}

.car-listing-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-specs {
  height: 55%;
  display: grid;
  grid-template-areas:
    "manufacturer manufacturer"
    "kilometers horse-power"
    "gearbox fuel-type"
    "price price";
  text-align: center;
}

.manufacturer {
  grid-area: manufacturer;
}

.kilometers {
  grid-area: kilometers;
}

.horse-power {
  grid-area: horse-power;
}

.gearbox {
  grid-area: gearbox;
}

.fuel-type {
  grid-area: fuel-type;
}

.price {
  grid-area: price;
  font-size: 25px;
  font-weight: 700;
}

.manufacturer a {
  font-size: 1.75rem;
  text-decoration: none;
  color: #3a86ff;
}

@media (max-width: 745px) {
  .latest-car-listing {
    height: 300px;
    width: 200px;
  }
}