.why-choose-us {
  padding: calc(var(--spacing) * 30) calc(var(--spacing) * 8);
}

.why-choose-us__reasons {
  gap: calc(var(--spacing) * 30);
}

.why-choose-us__reason {
  width: 300px;
}

.why-choose-us__reason img {
  width: 120px;
  height: 120px;
}

@media (max-width: 1024px) {
  .why-choose-us__reasons {
    flex-direction: column;
    gap: calc(var(--spacing) * 18);
  }
}
