#chetiri-page {
    min-height: calc(100vh - 118px - 53px);
    background-color: #24252A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chetiri-page h1 {
    color: #ffff;
    font-size: 9rem;
    opacity: 0.5;
}

#chetiri-page h2 {
    text-align: center;
    color: #ffff;
    font-size: 4rem;
    opacity: 0.5;
}

@media (max-width: 768px) {
    #chetiri-page h1 {
        font-size: 6rem;
    }

    #chetiri-page h2 {
        font-size: 2rem;
    }
}