.my-profile {
  min-height: 100vh;
  background-color: var(--black-color);
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
  color: var(--secondary-color);
  padding: calc(var(--spacing) * 8) 0;
}

.my-profile__content {
  width: 940px;
}

.my-profile__details {
  border-bottom: 1px solid #545454;
  padding-bottom: calc(var(--spacing) * 5);
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: var(--spacing-lg);
}
