#about-page {
    min-height: calc(100vh - 118px - 53px);
    background-image: url('../../../public/assets/black-car-webp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

#about-page h1 {
    text-align: center;
    color: #ffff;
    text-decoration: underline;
    text-underline-position: under;
    font-size: 4.25rem;
    text-shadow: 0px 0px 5px black;
}

.about-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.about-card {
    width: 30%;
    text-align: center;
}

.about-card img {
    display: inline-block;
}

.about-card h2,
.about-card p {
    color: #ffff;
    text-shadow: 0px 0px 5px black;
}

.about-card h2 {
    font-size: 2rem;
}

@media (max-width: 1200px) {
    .about-cards {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .about-card {
        width: 80%;
    }

    .about-card:last-child {
        margin-bottom: 2rem;
    }
}