#login-register-page {
    display: flex;
    height: 100vh;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-image: url('../../../public/assets/bmw-webp.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-section button a {
    color: #24252A;
}

.login-register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    background-color: #f9f9f9;
}

.login-register-section img {
    height: 100px;
    width: 300px;
}

.login-register-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 520px;
    width: 520px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
}

.login-register-form-wrapper>p {
    display: none;
}

.errors {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-weight: bold;
    color: #e63946;
}

.login-register-form-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 65%;
}

.login-register-form-wrapper form button {
    font-size: 1.25rem;
    padding: 15px 0px;
    border-radius: 20px;
    border: none;
    color: #ffff;
    background-color: #24252A;
}

.login-register-form-wrapper form button:hover {
    background-color: #3a86ff;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.login-register-form-wrapper form input {
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    border-width: 1px;
}

.login-register-form-wrapper form input:focus {
    outline: none;
}

.login-register-form-wrapper form label {
    font-size: 1.25rem;
}

.text-and-button {
    text-align: center;
}

.text-and-button h1 {
    color: white;
    font-size: 1.75rem;
    text-shadow: 0px 0px 5px black;
}

.text-and-button button {
    font-size: 1.25rem;
    padding: 0.75rem 5.75rem;
    border-radius: 20px;
    border: none;
    color: #24252A;
    background-color: #ffff;
}

.text-and-button button:hover {
    background-color: #3a86ff;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .image-section {
        display: none;
    }

    .login-register-section {
        width: 100%;
    }

    .login-register-form-wrapper>p {
        display: inline-block;
    }

    .login-register-form-wrapper>p>a {
        color: blue;
    }
}

@media (max-width: 500px) {
    .login-register-form-wrapper {
        height: 460px;
        width: 360px;
        gap: 0.75rem;
    }

    .login-register-form-wrapper form {
        gap: 0.75rem;
    }

    .login-register-form-wrapper form input {
        padding: 10px 25px;
    }

    .login-register-form-wrapper form label {
        font-size: 1rem;
    }

    .login-register-form-wrapper form button {
        font-size: 1rem;
        padding: 10px 0px;
    }
}