.sell-form {
  width: 100%;
  background-color: var(--secondary-color);
}

.sell-form__item {
  border-bottom: 1px solid #adadad;
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 6);
}

.sell-form__item input,
.sell-form__item textarea,
.sell-form__item select,
.sell-form__header-input {
  width: 100%;
  font-size: var(--font-size-md);
  color: #939393;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.sell-form__item textarea {
  resize: none;
}

.sell-form__header {
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 6);
}

.sell-form__brand-input {
  font-size: var(--font-size-lg);
}

.sell-form__price-input {
  font-size: var(--font-size-3xl);
}
