.latest-car-listings {
  background-color: var(--primary-color);
  padding: calc(var(--spacing) * 30) calc(var(--spacing) * 8);
}

.latest-car-listings__card {
  height: 400px;
  width: 300px;
  box-shadow: 0 0 20px var(--box-shadow-color);
  background-color: var(--secondary-color);
  transition: box-shadow 0.3s ease;
}

.latest-car-listings__card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.latest-car-listings__image-container {
  height: 60%;
}

.latest-car-listings__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.latest-car-listings__specs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 3);
  gap: calc(var(--spacing) * 2);
}

.latest-car-listings__manufacturer {
  grid-column: span 2;
  font-size: var(--font-size-xl);
  text-decoration: none;
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
}

.latest-car-listings__price {
  grid-column: span 2;
}

.latest-car-listings i {
  color: var(--primary-color);
}

@media (max-width: 1024px) {
  .latest-car-listings__card {
    height: 300px;
    width: 200px;
  }
}
